html {
  text-rendering: optimizeLegibility;
  font-size: 18px;
  font-family: Helvetica Neue, Arial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  float: left;
  list-style: none;
  margin-top: 28px;
}

.nav li {
  display: inline-block;
  margin-left: 35px;
}

.nav li a:link,
.nav li a:visited {
  padding: 5px 0;
  color: rgb(85, 99, 205);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
}

.nav li a:hover,
.nav li a:active {
  border-bottom: 2px solid rgb(67, 81, 192);
}

.absolute {
  color: rgba(60, 60, 60, 0.827);
  position: absolute;
  text-align: right;
  top: 10px;
  right: 10px;
}

body {
  text-align: justify;
  background-color: rgb(212, 255, 250);
}

.container {
  width: 1200px;
  margin: 15px auto 15px auto;
}

.funnies-box {
  background-color: rgb(243, 255, 254);
  position: relative;
  width: 80%;
  float: left;
  padding-right: 30px;
  border: 1px solid rgb(138, 138, 138);
  padding: 5px;
}

.why-box {
  background-color: rgb(154, 236, 161);
  width: 20%;
  float: left;
  padding: 5px;
  margin-bottom: 5px;
}

.why-box img {
  width: 140px;
  height: auto;
}

.links-box {
  background-color: rgb(243, 255, 254);
  border: 1px solid rgb(138, 138, 138);
  font-size: 16px;
  width: 80%;
  padding-right: 30px;
  padding: 5px;
}

h1 {
  font-size: 45px;
  color: rgba(18, 90, 161, 0.8);
  margin-bottom: 28px;
}

h2 {
  font-size: 25px;
  color: rgb(19, 151, 19, 0.9);
  margin-bottom: 14px;
}

.baller {
  color: rgb(192, 0, 29);
}

.mario {
  color: rgb(187, 51, 169);
  font-size: 24px;
}

.why {
  font-size: 16px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
